* {
  margin: 0;
  padding: 0;
}
main {
  position: relative;
  width: 100%;
  display: flex;
}
.leftBar {
  position: sticky;
  left: 0;
  height: 100vh;
  width: 40px;
  /* transition: 300ms ease-out; */
  transition: 500ms;
  overflow: hidden;
}
.leftBar-show {
  width: 250px;
  /* width: 20%; */
  transition: width 500ms;
}
.main-content {
  width: 100%;
}
.restDiv > ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 10px;
}
li:hover {
  background-color: #1e2428;
}
li {
  cursor: pointer;
  color: #b8c7ce;
  list-style: none;
}
div > li {
  margin-bottom: 5px;
}
div > li:hover {
  background-color: #406f91;
}
nav {
  display: flex;
  height: 7.2%;
  justify-content: space-between;
  align-items: center;
  background-color: #3c8dbc;
  color: white;
  padding: 10px;
}
.navRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.dp {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-btn {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.nav-btn:hover {
  cursor: pointer;
  background-color: #406f91;
}
.nav-btn:active {
  cursor: pointer;
  background-color: black;
}
.logoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: #367fa9;
  height: 10%;
}
.restDiv {
  background-color: #222d32;
  height: 100%;
}
.sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;
  > div {
    overflow: hidden;
  }
}
.sub-menu.show {
  grid-template-rows: 1fr;
}
.logoNav {
  display: none;
}
.content-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

.box {
  background-color: green;
  height: 100%;
  border: 2px solid white;
}
@media only screen and (max-width: 600px) {
  .leftBar {
    position: fixed;
    left: -20px;
    top: 68px;
    transition: all 200ms ease-in-out;
    opacity: 0;
    visibility: hidden; /* Prevent interaction */
  }

  .leftBar-show {
    left: 0px;
    opacity: 1;
    visibility: visible;
  }
  .main-content {
    width: 100%;
  }
  .logoDiv {
    display: none;
  }
  .logoNav {
    /* transition: display 500ms ease-in-out; */
    display: flex;
    justify-content: center;
    background-color: #367fa9;
  }
  .nav-btn {
    padding: 5px 5px;
  }
  .navRight {
    gap: 10px;
  }
  .content-box {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
  }
}
.sidebar-field {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 5px 6px 6px;
  gap: 20px;
  margin-top: 10px;
}
.sidebar-field:hover {
  background-color: #1e2428;
}
.sidebar-field:hover img {
  scale: 1.2;
}
